.cartWidget {
	padding: 8px;
	min-width: 328px;
	max-height: 500px;
	background-color: var(--bg-secondary);

	display: flex;
	flex-direction: column;
	justify-items: center;
	gap: 8px;

	border-radius: 0 0 25px 25px;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	overflow-y: scroll;
}

.cartWidget::-webkit-scrollbar {
	display: none;
}

.totalPrice {
	align-self: flex-end;
}

.button {
	width: 100%;
	padding: 12px 16px;
	background-color: var(--button-primary);
	color: white;
	font-weight: 600;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 1rem;
	margin-top: 6px;
	transition: background 0.25s ease;
}

.button:hover:not(:disabled) {
	background-color: var(--color-accent);
}

.button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

@media screen and (max-width: 720px) {
	.cartWidget {
		max-height: 400px;

		width: calc(100vw);
	}
}
